.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 5%;
    padding: 1%;
    text-align: center;
    float: left;
}

nav {
    width: 100%;
    padding: 1%;
    vertical-align: middle;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroimg {
    height: 600px;
    padding: 25px;
    background-color:#F8B133;
}

.content {
    width: 500px;
    margin: 0%;
}

footer {
    background-color:#F8B133;
    margin-top: 250px;
}

.portrait {
    height: 45%;
    float: left;
}

.portrait-text {
    width: 55%;
    float: right;
    color: white;
    font-family: lato;
    margin-top: 10%;
    font-size: 18px;
}

.nav-menu {
    float: right;
    width: 55%;
    margin-top: 50px;
    font-family: lato;
    font-weight: bold;
    font-size: 18px;
}

.footer-menu {
    width: 55%;
    font-family: lato;
    font-weight: bold;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

button {
    background: linear-gradient(90deg, #337AF8, #34E7F7);
    color: white;
    font-family: lato;
    font-weight: bold;
    border-radius: 40px;
    border-color: #ffffff;
    border-width: 10px;
    width: 250px;
    height: 70px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition-duration: 0.4s; /* Chrome */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  border-radius: 40px;
  opacity: 0;
  transition: all 3.0s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.card {
    width: 30%;
    margin: 0%; 
    padding: 10px;
    float: left;
    background-color: #337AF8;
    margin: 20px;
    height: 200px;
    border-radius: 15px;
  }

.box {
    text-align: center;
}

.cards {
    margin-bottom: 50px;
    font-size: 15px;
    margin-top: 50px;
}

.flexContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 33%;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
}

.skillsImage {
    height: 450px;
    padding: 20px;
}

.mySkills {
    padding: 100px;
    text-align: center;
    grid-template-columns: auto auto auto;
    margin-top: auto;
    justify-content: center;
}

.myWork {
    padding: 100px;
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: auto auto auto;
}

.projectImage1 {
    width: 500px;
    padding-top: 50px;
}  

.projectImage2 {
    width: 500px;
    padding-top: 50px;
}

.projectImage3 {
    width: 500px;
    padding-bottom: 45px;
    padding-top: 50px;
}

.myWorkbutton {
    width: 300px;
}

@media only screen and {max-width: 600;} {
    .flexContainer {
        flex-direction: column;
        width: 100%;
    }
    .workGrid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: auto auto auto;
    }
}